*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.keystore
*.jks
google-services.json
!/.idea/codeStyles
!/.idea/vcs.xml
!/.idea/iconloader.xml
!/.idea/inspectionProfiles
!/.idea/kotlinc.xml
!/.idea/compiler.xml
!/.idea/gradle.xml
!/.idea/misc.xml
!/.idea/modules.xml
!/.idea/deploymentTargetDropDown.xml
